<!doctype>
<html ng-app="App">
  <head>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/stylesheet.css">

    <script src="js/angular.js"></script>
    <script src="js/angular-translate.js"></script>
    <script src="js/angular-translate-loader-static-files.js"></script>
    <script src="js/doublechecker.js"></script>
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
    <script src="js/nxt.js"></script>

    <title translate="TITLE"></title>

  </head>

  <body ng-controller="MainCtrl" ng-cloak>

    <div class="container-fluid">

      <div class="row text-center">
        <img class="logo" src="http://placehold.it/350x150" alt="Logo" />
      </div>

      <div class="panel panel-default total" ng-show="loggedIn && !isNaN(total.amount)" ng-cloak>
        <h4>{{ total.name }}</h4>
        <p><strong translate="TOTAL"></strong> {{ total.amount }} {{ total.code }}</p>
      </div>

      <div class="panel panel-default login-form" ng-show="!loggedIn">
        <div class="alert alert-danger" ng-show="loginForm.error">
          {{ loginForm.error }}
        </div>
        <form class="panel-body" ng-submit="login()">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="{{ 'LOGIN_PLACEHOLDER' | translate }}" autofocus="autofocus"
                   ng-model="loginForm.account" />
          </div>
          <div class="form-group text-center">
            <button type="button" class="btn btn-primary" ng-click="login()" translate="LOGIN_BUTTON"></button>
          </div>
        </form>
      </div>

      <div class="panel panel-default transactions" ng-show="loggedIn">
        <table class="table table-hover table-condensed">
          <thead>
            <tr>
              <td><strong translate="TABLE_FROM"></strong></td>
              <td><strong translate="TABLE_AMOUNT"></strong></td>
              <td><strong translate="TABLE_COIN"></strong></td>
              <td><strong translate="TABLE_DATE"></strong></td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="transaction in transactions">
              <td>
                <span ng-show="transaction._aliasName">{{ transaction._aliasName }}</span>
                <span ng-hide="transaction._aliasName">{{ transaction.senderRS }}</span>
              </td>
              <td>{{ getCoinAmount(transaction) }}</td>
              <td>{{ getCoinName(transaction) }}</td>
              <td>{{ getTimestamp(transaction) |  date:'mediumDate' }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </body>
</html>
